<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name ="SqlConnection"
			connectionString="Data Source=LT-PE4-15;Initial Catalog=SmartInventory;User ID=sa;Password=123@com;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
			providerName ="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>